@use "../../styles/variables.scss" as *;

.page-logo {
    position: relative;
    width: 150;
    height: 80;
    margin: 0;
    transition: opacity 0.3s ease;

    & img {
        position: absolute;
        top: calc(50% - 10px);
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.9;
        transition: opacity 0.3s ease;
    }

    &:hover img {
        opacity: 1;
    }
}

@media all and ($mobile) {
    .page-logo {
        margin-left: 10px;
        margin-right: 15px;
    }
}
